services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    ports:
      - "{{ dockge_bind_address }}:{{ dockge_port }}:5001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ dockge_install_dir }}/data:/app/data
      - {{ dockge_stacks_dir }}:{{ dockge_stacks_dir }}
    environment:
      DOCKGE_STACKS_DIR: {{ dockge_stacks_dir }}
