# Expand the partition and filesystem after increasing a Proxmox disk
# Run this after resizing the disk in Proxmox - no need to re-run the full playbook.
# Usage:
#   ansible-playbook -i inventory_localhost.yml playbooks/resize-disk.yml
#   ansible-playbook -i inventory_localhost.yml playbooks/resize-disk.yml -e disk_resize_reboot=true

- name: Resize disk partition and filesystem
  hosts: all
  become: true

  vars:
    disk_device: "/dev/sda"
    partition_number: 1
    disk_resize_reboot: false

  roles:
    - role: disk_resize
