// Automatically upgrade packages from these origin patterns
Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

// Automatically fix interrupted dpkg runs
Unattended-Upgrade::AutoFixInterruptedDpkg "true";

// Split the upgrade into the smallest possible chunks
Unattended-Upgrade::MinimalSteps "true";

// Remove unused automatically installed kernel-related packages
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";

// Remove unused dependencies after the upgrade
Unattended-Upgrade::Remove-Unused-Dependencies "{{ base_unattended_upgrades_remove_unused_deps | lower }}";

// Automatically reboot after upgrade if required
Unattended-Upgrade::Automatic-Reboot "{{ base_unattended_upgrades_auto_reboot | lower }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ base_unattended_upgrades_auto_reboot_time }}";

{% if base_unattended_upgrades_mail %}
// Send email notifications
Unattended-Upgrade::Mail "{{ base_unattended_upgrades_mail }}";
Unattended-Upgrade::MailReport "on-change";
{% endif %}
