- name: Install QEMU guest agent
  ansible.builtin.apt:
    name: qemu-guest-agent
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Ensure QEMU guest agent is enabled and started
  ansible.builtin.service:
    name: qemu-guest-agent
    state: started
    enabled: true
